//TODO: Make one unified class for textareas, or add to element defs.
//TODO: One bottombar class to rule them all.
//TODO: Possibly free styles from out of .annotation
//TODO: Make a checked style for use across different types of buttons- icon font
//TODO: Use color for lightening icons instead of opacity
@import "reset";
@import 'base';

$sansFontFamily: "Source Sans Pro", $sansFontFamily;
$serifFontFamily: "Merriweather", $serifFontFamily;

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//ELEMENT STYLES////////////////////////////////
a {
  color: $linkColor;
  &:hover { color: $linkColorHover; }
}

body {
  background-color: $bodyBackground;
  color: $textColor;
  font-smoothing: antialiased;
  line-height: 1.4;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

em { font-style: italic; }

html {
  font-size: $baseFontSize / 16 * 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansFontFamily;
  margin: 0 0 .4em;
  padding: 0 0 .1em;
  color: $gray;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  margin: 0 0 .1em;
}

h5, h6 {
  font-size: 1em;
  margin: 0 0 .1em;
}

input, textarea {
  @include plainform;
}

select {
  @include plainform;
  padding: 0;
  text-decoration: underline;
  border: 0;
  &:focus {
    border: 0;
  }
}

label {
  @extend .visuallyhidden;
}


//MCRANDOM////////////////////////////////
.btn {
  @include sweetbutton;
}

.alert-block {
  span.errorMsgLbl { @extend .visuallyhidden; }
  span.errorMsg { @extend .visuallyhidden; }
}

.inline-block {
  display: inline-block
}

.icon-hidden {
  &:before {
    color: transparent;
  }
  &:after {
    color: transparent;
  }
}

//Candidate for cleanup
.btn-link {
  @include box-shadow(none);
  @include reset-box-model;
  background: none;
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  color: $linkColor;
  position: static;
  &:hover { color: $linkColorHover; }
}

.red {
  color: $hypothered;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}



//CLOSER////////////////////////////////
.close {
  float: right;
  @include icon("delete_1.png");
  width: 1em;
  height: 1em;
  opacity: .2;

  &:hover {
    cursor: pointer;
    opacity: .4;
  }
}



//FORM RELATED////////////////////////////////
.form-horizontal {
  display: inline-block;
  .controls, .control-group, div, fieldset,
  input, button, select, textarea {
    display: inline-block;
  }
  select, textarea, input, button {
    margin: .5em 0;
  }
}

.form-inline .control-group { margin-bottom: 0; }

.form-vertical {
  select, textarea, input, button {
    margin-top: .75em;
  }
}

.req {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}



//ICON CLASSES////////////////////////////////
.flag-icon {
  @include fonticon("\28", left);
}

.fave-icon {
  @include fonticon("\2b", left);
  &.checked:before {
    content: "\2c";
  }
}

.reply-icon {
  @include fonticon("\27", left);
}

.share-icon {
  @include fonticon("\2a", left);
}

.down-icon {
  @include fonticon("\3c", left);
}

.clipboard-icon {
  @include fonticon("\33", left);
}

.check-icon {
  @include fonticon("\35", left);
}

.x-icon {
  @include fonticon("\36", left);
}

.lock-icon {
  @include fonticon("\e001", right);
  &.unlocked:after {
    content: "\e000";
  }
}

//EXCERPT////////////////////////////////
.excerpt {
  position: relative;
  margin-bottom: 1em;
  blockquote {
    margin-bottom: 0;
  }
  .more, .less {
    font-size: .9em;
    font-family: $sansFontFamily;
    display: block;
    text-align: right;
  }
}

blockquote {
  color: $gray;
  font-family: "Merriweather";
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 1em;

  &:before {
    color: rgba(150, 150, 150, .5);
    content: "\23";
    font-family: "icomoon";
    font-size: 6em;
    position: absolute;
    top: -.2em;
    left: -.15em;
  }

  &:after {
    color: rgba(150, 150, 150, .5);
    content: "\24";
    font-family: "icomoon";
    font-size: 5em;
    position: absolute;
    right: -.15em;
    bottom: -.1em;
  }
}



//DROPDOWNS////////////////////////////////
.dropdown {
  position: relative;
  span {
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.dropdown-toggle {
  background-color: white;
  &:active {
    outline: 0;
  }
}

.dropdown-menu {
  @include rotateX(90deg);
  // @include smallshadow;
  background: $white;
  border: solid 1px $grayLighter;
  left: 0;
  float: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  li {
    line-height: 1;
    margin: .4em .5em 0;
    padding-bottom: .1em;
    border-bottom: dotted 1px $grayLighter;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: black;
    }

    &.selected {
      color: black;
      font-weight: 600;
      line-height: 1;
      &:before {
        font-size: .7em;
        
      }
    }
    &.inactive {
      font-weight: 400;
      color: $grayLighter;
      cursor: default;
      &:hover {
        color: $grayLighter;
      }
      & * {
        cursor: default;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  // Aligns the dropdown menu to right
  &.pull-right {
    right: -1px;
    left: auto;
    text-align: right;
  }
}

.open {
  & > .dropdown-menu {
    @include rotateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}



//VISIBILITY
.visibility {
  li {
    @include fonticon("\35", right);
    &:after {
      opacity: 0;
    }
    &.selected {
      &:after {
        opacity: 1;
      }
    }
  }
  .vis-public {
    border-bottom: 1px solid $grayLighter;
    margin: .4em 0 0;
    padding: 0 .5em 0;
  }
}


//TABS////////////////////////////////
.nav-tabs {
  @include pie-clearfix;
  margin: 0 .5em;

  & > li > a {
    cursor: pointer;
    float: left;
    line-height: 1;
    padding: .5em 1em;
    padding-top: .25em;
    margin-right: -.5em;
    margin-bottom: 0px;
    position: relative;
    text-decoration: none;
    @include tabbox;
  }

  & > .active > a {
    @include box-shadow(none);
    color: #333;
    font-weight: bold;
    background: hsla(0, 0%, 100%, 1);
    z-index: 90;
  }
}

.tab-pane {
  background: $bodyBackground;
  border: solid thin $grayLighter;
  display: none;
  margin-top: -1px;  // Pull up and under tabs
  padding: 1em;
  position: relative;

  &.active {
    display: inherit !important;
  }

  footer > ul {
    text-align: right;
  }
}




//PAPER////////////////////////////////
//Provides the white background upon which items sit
.paper {
  @include border-radius(.2em);
  @include smallshadow;
  background: #fff;
  padding: 1em;
}



//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  position: relative;
  .upper-left {
    font-weight: bold;
    color: $gray;
  }

  .dialog {
    width: 100%;
  }

  .upper-right {
    float: right;
    display: inline-block;
    line-height: 1.8em;
    @include tertiarytext;
  }

  .body {
    white-space: pre-wrap;
    margin-bottom: .5em;
    clear: both;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .message {
    margin-bottom: .5em;
  }

  .buttonbar {
    margin-bottom: .5em;
  }

  textarea {
    min-height: 8em;
  }

  .replycount {
    @include tertiarytext;
  }
}



//BUTTONBAR////////////////////////////////
.buttonbar {
  @include pie-clearfix;
  & > * {
    margin-right: .5em;
    display: inline-block;
  }
}



//DETAIL////////////////////////////////
//This is specific to the detail view.
.detail {
  position: relative;
  .paper > .threadexp {
    display: none;
  }


  .magicontrols {
    @include single-transition(opacity, .25s, ease-in-out);
    @include box-shadow(-1em 0 1em 0 #fff);
    background: #fff;
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    & > * {
      display: inline;
      margin-left: .5em;
    }
  }

  .annotation:hover {
    .magicontrols {
      opacity: 1;
    }
  }

  //Threaded discussion specific
  .annotator-listing {
    border-left: 1px dotted $grayLight;

    .threadexp {
      height: $threadexp-width;
      width: $threadexp-width;
      position: absolute;
      top: .8em;
      left: -($threadexp-width / 2);
      outline: 1px dotted #aaa;
      @include icon("minus_1.png");
    }

    & > .detail, .writer {
      padding-left: $thread-padding;
      padding-top: .35em;
      &.squished {
        padding-left: 0;
      }
    }
  }

  //These are all the changes needed to collapse thread objects.
  &.collapsed {
    & > .body {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      font-style: italic;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > .thread { overflow: hidden; }
    & > .upper-left {
      display: run-in;
      margin-right: .25em;
    }
    & > .threadexp {
      background-image: url("../images/plus_1.png");
    }
  }
}



//SUMMARY////////////////////////////////
//This is specific to the summary view.
.summary {
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;

  &:hover {
    @include smallshadow(2px, 3px, .1);
    bottom: 1px;
  }

  &:active {
    @include smallshadow(2px, 1px, .1);
    bottom: 0px;
  }
}



//EDITOR////////////////////////////////
//This is an input element to make annotations.
.writer {
  position: relative;
  padding-left: 1em;

  .upper-right {
    font-size: 1em;
  }
}


//SHARE-DIALOG////////////////////////////////
.share-dialog {
  .icon-input {
    position: relative;
    input {
      padding-right: 1.4em;
      position: relative;
    }
    div {
      position: absolute;
      right: .33em;
      top: .6em;
    }
  }
}

.flag-dialog {
  textarea {
    width: 100%;
    min-height: 8em;
  }
  fieldset {
    margin-bottom: .5em;
  }
  margin-bottom: .5em;
}



//BOOTSTRAP_TOOLTIP
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity = 0);
  visibility: visible;
  &.in {
    opacity: 0.8;
    filter: alpha(opacity = 80);
  }
  &.top {
    margin-top: -3px;
  }
  &.right {
    margin-left: 3px;
  }
  &.bottom {
    margin-top: 3px;
  }
  &.left {
    margin-left: -3px;
  }
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: .9;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #000000;
    border-width: 5px 5px 0;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-right-color: #000000;
    border-width: 5px 5px 5px 0;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: #000000;
    border-width: 5px 0 5px 5px;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
  }
}
