@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-cog:before {
	content: "\22";
}
.icon-untitled:before {
	content: "\23";
}
.icon-untitled-2:before {
	content: "\24";
}
.icon-export_icon:before {
	content: "\25";
}
.icon-clipboard_copy_icon:before {
	content: "\26";
}
.icon-pen_1:before {
	content: "\27";
}
.icon-flag:before {
	content: "\28";
}
.icon-delete_icon:before {
	content: "\29";
}
.icon-heart_empty_icon:before {
	content: "\2b";
}
.icon-heart_icon:before {
	content: "\2c";
}
.icon-window:before {
	content: "\2d";
}
.icon-window-2:before {
	content: "\2e";
}
.icon-triangle:before {
	content: "\2f";
}
.icon-copy:before {
	content: "\33";
}
.icon-eye:before {
	content: "\34";
}
.icon-x:before {
	content: "\36";
}
.icon-cancel:before {
	content: "\38";
}
.icon-checkmark_icon:before {
	content: "\39";
}
.icon-checkmark:before {
	content: "\3a";
}
.icon-cog-2:before {
	content: "\3d";
}
.icon-checkmark-2:before {
	content: "\35";
}
.icon-clock:before {
	content: "\37";
}
.icon-export:before {
	content: "\2a";
}
.icon-checkbox_unchecked_icon:before {
	content: "\3e";
}
.icon-checkbox_checked_icon:before {
	content: "\3f";
}
.icon-triangle-2:before {
	content: "\3c";
}
.icon-unlocked:before {
	content: "\e000";
}
.icon-locked:before {
	content: "\e001";
}
.icon-views:before {
	content: "\e002";
}
.icon-browser:before {
	content: "\e003";
}
.icon-ddbutton_filled:before {
	content: "\e007";
}
.icon-ddbutton_empty:before {
	content: "\e008";
}
.icon-reply:before {
	content: "\e004";
}
