.dialog(data-object="delete-dialog")
  %textarea.body(placeholder="Please leave a reason for deleting this annotation.")
  / .message(data-object="message")
  .buttonbar
    %button.btn
      .annotator-save.check-icon(data-action="save") Delete
    %span
      .annotator-cancel.x-icon(data-action="cancel") Cancel
