%script{:id => "detail-template.html", :type => "text/ng-template"}

  %li.paper.excerpt
    %blockquote {{annotation.excerpt}}
  %li.paper.detail(data-object="detail")
    %a.threadexp{:href => "#collapse"}
    .annotation(data-object="annotation")
      .magicontrols
        .go.timestamp(data-object="time") {{annotation.time}}
        .grow.lock-icon(data-object="lock-icon" ng-show="annotation.priv")
        .fave-icon(title="Favorite" data-action="favorite" ng-click="annotation.fave = !(annotation.fave)" ng-class="{true:'grow checked', false:'show'}[annotation.fave]")
        .show.reply-icon(title="Reply" data-action="reply")
        .show.share-icon(title="Share" data-action="share")
        .show.dropdown(title="More Actions")
          .dropdown-toggle.down-icon(data-toggle="dropdown" href="#")
          %ul.dropdown-menu.pull-right(role="menu") 
            %li(data-action="edit" ng-show="annotation.username == 'woah2'")
              %a Edit
            %li(data-action="delete" ng-show="annotation.username == 'woah2'")
              %a Delete
            %li(data-action="flag" ng-hide="annotation.username == 'woah2'")
              %a Flag
      %a.upper-left(data-object="username") {{annotation.username}}
      = partial "share-dialog.haml"
      = partial "flag-dialog.haml"
      .body {{annotation.text}}
      .bottombar
        %span.replycount {{annotation.count}}

    .thread
      %ul.annotator-listing
        = partial "write-dialog.haml"
        %li.detail(ng-include="'replies-template.html'" ng-repeat="reply in annotation.children" data-object="detail")
