%script{:id => "detail-template.html", :type => "text/ng-template"}
  %li.paper.excerpt
    %blockquote {{annotation.excerpt}}
  %li.annotation.paper.detail
    %a.threadexp{:href => "#collapse"}
    .time {{annotation.time}}
    .user {{annotation.username}}
    .annotator-controls
      %a.write{:href => "#reply"} Reply
    .body {{annotation.text}}
    .bottombar
      %span.replycount {{annotation.count}}
    .thread
      %ul.annotator-listing
        %li.annotation.detail{"ng-include" => "'replies-template.html'", "ng-repeat" => "reply in annotation.children"}
