%script{:id => "detail-template.html", :type => "text/ng-template"}

  %li.paper.excerpt
    %blockquote {{annotation.excerpt}}
  %li.paper.detail(data-object="detail")
    .annotation(data-object="annotation")
      %a.threadexp{:href => "#collapse"}
      .upper-right {{annotation.time}}
      .magicontrols
        %a.reply-icon(title="Reply" data-action="reply")
        %a.fave-icon(title="Favorite" data-action="favorite")
        %a.share-icon(title="Share" data-action="share")
        .dropdown(title="More Actions")
          %a.dropdown-toggle.down-icon(data-toggle="dropdown" href="#")
          %ul.dropdown-menu.pull-right(role="menu") 
            %li(data-action="edit" ng-show="reply.username == 'woah2'")
              %a Edit
            %li(data-action="delete" ng-show="reply.username == 'woah2'")
              %a Delete
            %li(data-action="flag" ng-hide="reply.username == 'woah2'")
              %a Flag
      %a.upper-left(data-object="username") {{annotation.username}}
      = partial "share-dialog.haml"
      = partial "flag-dialog.haml"
      .body {{annotation.text}}
      .bottombar
        %span.replycount {{annotation.count}}

    .thread
      %ul.annotator-listing
        = partial "write-dialog.haml"
        %li.detail(ng-include="'replies-template.html'" ng-repeat="reply in annotation.children" data-object="detail")
