.dialog(data-object="edit-dialog")
  %textarea.body
  / .message(data-object="message")
  .buttonbar
    %button.btn
      .annotator-save.check-icon(data-action="save") Save
    %span
      .annotator-cancel.x-icon(data-action="cancel") Cancel
