.flag-dialog(data-object="flag-dialog")
  / .upper-left Share Annotation:
  %fieldset
    %input(type="checkbox")
    %span Selection error
    %br

    %input(type="checkbox")
    %span Spam
    %br

    %input(type="checkbox") 
    %span Abusive language
    %br

    %input(type="checkbox")
    %span Trolling
    %br

  %textarea.body(placeholder="Please provide some details on why you flagged this post.")
  .buttonbar
    %button.btn
      .annotator-save.flag-icon(data-action="save") Flag
    %span
      .annotator-cancel.x-icon(data-action="cancel") Cancel
