%script{:id => "history-template.html", :type => "text/ng-template"}
  %li.noiseknockout
    .page
      <img class="favicon" ng-src="http://{{annotation.domain}}/favicon.ico"/><a href="{{annotation.domain}}">{{annotation.domain}}</a> | <a href="{{annotation.link}}">{{annotation.page|truncate:80}}</a>
    .paper.excerpt
      %blockquote
        {{annotation.excerpt|truncate:140}}
    .paper.summary
      .topbar
        .user {{annotation.username}}
        .time {{annotation.time}}
      .content {{annotation.text|truncate:140}}
