%script{:id => "replies-template.html", :type => "text/ng-template"} 
  %a.threadexp{:href => "#collapse"}
  .upper-right {{reply.time}}
  .annotator-controls
    .reply
      %ul
        %li Reply
    .fave
      %ul
        %li Favorite
    .share
      %ul
        %li Facebook
        %li Twitter
        %li Google +
        %li <input type="text" value="https://hypothes.is/h/a/9eje9ejedoido">
    .flag
      %ul
        %li Bad anchor
        %li Spam
        %li General idiocy

  .user {{reply.username}}
  .body {{reply.text}}
  .bottombar
    %span.replycount {{reply.count}}
  .thread
    %ul.annotator-listing
      = partial "writer.haml"
      %li.annotation.detail{"ng-include" => "'replies-template.html'", "ng-repeat" => "reply in reply.children"}
  


