%script{:id => "replies-template.html", :type => "text/ng-template"}
  %a.threadexp{:href => "#collapse"}
  .annotation
    .upper-right {{reply.time}}
    .magicontrols
      %a.reply-icon(title="Reply")
      %a.fave-icon(title="Favorite")
      %a.share-icon(title="Share")
      %a.flag-icon(title="Flag")

    %a.upper-left {{reply.username}}
    = partial "share-dialog.haml"
    = partial "flag-dialog.haml"
    .body {{reply.text}}
    %span.replycount {{reply.count}}

  .thread
    %ul.annotator-listing
      = partial "writer.haml"
      %li.detail{"ng-include" => "'replies-template.html'", "ng-repeat" => "reply in reply.children"}
  


