.annotator-frame
  = partial "toolbar.haml"
  #gutter
    #wrapper1.wrapper(ng-controller="BucketList")  
      .annotator-outer.annotator-viewer
        %ul.annotator-listing.annotator-widget{"ng-include" => "'summary-template.html'", "ng-repeat" => "annotation in annotations"}
    #wrapper2.wrapper.out(ng-controller="DetailList")
      .annotator-outer.annotator-viewer
        %ul.annotator-listing.annotator-widget{"ng-include" => "'detail-template.html'", "ng-repeat" => "annotation in annotations"}
    #wrapper3.wrapper(ng-controller="HistoryList")  
      .annotator-outer.annotator-viewer
        %ul.annotator-listing.annotator-widget{"ng-include" => "'history-template.html'", "ng-repeat" => "annotation in annotations"}


  = partial "heatmap.haml"
