%script{:id => "summary-template.html", :type => "text/ng-template"}
  %li.paper.annotation.summary
    .upper-right {{annotation.time}}
    .user {{annotation.username}}
    .body {{annotation.text}}
