%li.annotation.writer(data-object="write-dialog")
  .annotator-editor
    %form.annotator-widget
      .upper-right.dropdown.visibility
        .dropdown-toggle(data-object="droplabel" data-toggle="dropdown" href="#" title="Visibility") Public
        %ul.dropdown-menu.pull-right(role="menu") 
          %li.li-underline.selected(data-action="vis-public")
            %a Public
          %li(data-action="vis-private")
            %a Private
          / %li(data-action="vis-group")
          /   %a EFF Brigade
          / %li(data-action="vis-group")
          /   %a lollerskatez intl.
          / %li(data-action="vis-group")
          /   %a Ministry of Truth
      %a.upper-left 
        woah2
      .vis-icon.inline-block(data-object="vis-icon")
      %textarea.body{:placeholder => "Add your thoughts…"}
      .buttonbar
        %span.btn
          .annotator-save.check-icon{:href => "#save"} Save
        %span
          .annotator-cancel.x-icon(data-action="cancel" href="#cancel") Cancel
