%li.annotation.writer(data-object="writer-dialog")
  .annotator-editor
    %form.annotator-widget
      .upper-right.dropdown.visibility
        .dropdown-toggle.unlocked(data-toggle="dropdown" href="#" title="Visibility") Public
        %ul.dropdown-menu.pull-right(role="menu") 
          %li(data-action="vis-private")
            %a Private
          %li.li-underline(data-action="vis-public")
            %a Public
          %li(data-action="vis-group")
            %a EFF Brigade
          %li(data-action="vis-group")
            %a lollerskatez intl.
          %li(data-action="vis-group")
            %a Ministry of Truth
      %a.upper-left 
        woah2
      .lock-icon.inline-block
      %textarea.body{:placeholder => "Add your thoughts…"}
      .buttonbar
        %button.btn
          .annotator-save.check-icon{:href => "#save"} Save
        %span
          .annotator-cancel.x-icon(data-action="cancel" href="#cancel") Cancel
