%li.annotation.writer
  .annotator-editor
    %form.annotator-widget
      .upper-right.dropdown
        %a.visibility.dropdown-toggle(data-toggle="dropdown" href="#") Public
        %ul.dropdown-menu.pull-right(role="menu")
          %li 
            %a Public
          %li 
            %a Private
      .upper-left woah2
      %textarea.body{:placeholder => "Add your thoughts…"}
      .buttonbar
        %button.btn
          .annotator-save.check-icon{:href => "#save"} Save
        %span
          .annotator-cancel.x-icon{:href => "#cancel"} Cancel
